html {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/wild_flowers.png");
}

body{
    font-family: 'Armata', sans-serif;
    width: 960px;
    margin: auto;
    line-height: 28px;
}

h1{
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    padding: 9px;
    margin: 10px;
    background: rgb(214, 214, 214);
}

h2{
    margin-top: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
}

.navbar {
    list-style-type: none;
    margin: -10px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #333;
}

.navbar li a {
    float: right;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(214, 214, 214);
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.section{
    display: flex;
}


section{
    font-size: 22px;
    width: 650px;
    border: 3px solid #4e4e4e;
    background: rgba(255, 255, 255, 0.432);
}

p{
    font-family: 'Assistant', sans-serif;
}

#MainPic {
    margin: 15px;
    float: left;
    height: 300px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 280px;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

p {
    margin: 10px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f294;
    padding: 20px;
}

aside{
    width: 270px;
    height: 170px;
    border: 3px solid #4e4e4e;
    margin-left: auto;
    background: rgba(0, 0, 0, 0.39);
}

.sideIcon:hover{
    background: rgba(0, 0, 0, 0.5);
}

.sideIcon {
    margin: 15px;
    float: left;
}

footer{
    text-align: center;
    margin-top: 100px;
    margin-bottom: -10px;
    background-color: #333;
    color: white;
    position: absolute;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 980px) {
    body{
        width: 700px;
    }

    div.gallery{
        margin-left: 110px;
    }

    aside{
        width: 140px;
        height: 380px;
        margin-left: 20px;
    }

    .sideIcon {
        margin-left: 40px;
    }
}

@media screen and (max-width: 768px) {
    body{
        width: 600px;
    }

    div.gallery{
        margin-left: 62.5px;
    }

    aside{
        width: 140px;
        height: 380px;
        margin-left: 20px;
    }

    .sideIcon {
        margin-left: 40px;
    }
}


@media screen and (max-width: 640px) {
    
    h1{
        position: static;
        text-align: center;
    }

    .navbar li a{
        float: left;
        margin-left: 35px;
    }

    li a:hover {
        font-weight: bold;
        font-size:16px;
    }
    
    body{
        width: 400px;
    }

    section{
        width: 400px;
        margin-bottom: 30px;
    }

    .section{
        display: block;
    }

    #MainPic{
        height: 370px;
    }

    aside{
        width: 400px;
        height: 170px;
        margin-left: 0px;
    }

    .sideIcon {
        margin-left: 47px;
}
